<footer class="footer pt-5 mt-5 w-100 d-flex flex-column align-items-center justify-content-center">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icons list-unstyled d-flex align-items-center justify-content-center">
        <li class="flex-wrap">
            <a class="d-inline-block pe-1" href="https://twitter.com/creativetim" target="_blank">
                <i class="bi bi-twitter"></i>
            </a>
        </li>
        <li class="flex-wrap">
            <a class="d-inline-block pe-1" href="https://twitter.com/creativetim" target="_blank">
                <i class="bi bi-facebook"></i>
            </a>
        </li>
        <li class="flex-wrap">
            <a class="d-inline-block pe-1" href="https://twitter.com/creativetim" target="_blank">
                <i class="bi bi-whatsapp"></i>
            </a>
        </li>
    </ul>
    <ul class="menu list-unstyled d-flex align-items-center justify-content-center">
        <li><a href="">Home</a></li>
        <li><a href="">Home</a></li>
        <li><a href="">Home</a></li>
        <li><a href="">Home</a></li>
        <li><a href="">Home</a></li>
    </ul>
    <p class="align-items-center">© Copyright PLD 2022 | All rigths reserved</p>
</footer>