<footer class="footer pt-5 mt-5">
    <div class="container">
        <div class=" row">
            <!-- <ul class="nav justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="">
                        Contactez-nous
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-phone"></i>Email</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-envelope"></i>Email</a>
                </li>
                <li class="nav-item">
                    All rights reserved. Copyright ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>Made with <i class="bi bi-heart-fill"></i> by<a
                        href="https://github.com/AbdourahamaneIssakaSani" target="_blank">PLD</a>.
                </li>
            </ul> -->
            <!--  <div class="col-md-2 mb-4 ms-auto">
                <div>
                    <a href="#">
                        <img src="../../../assets/img/logo-pld-secondary.png" class="w-25" alt="main_logo">
                    </a>
                    <h6 class="font-weight-bolder mb-4">PLD</h6>
                </div>
                <div>
                    <ul class="d-flex flex-row ms-n3 nav">
                        <li class="nav-item">
                            <a class="nav-link pe-1" href="https://www.facebook.com/CreativeTim" target="_blank">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pe-1" href="https://twitter.com/creativetim" target="_blank">
                                <i class="bi bi-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pe-1" href="https://dribbble.com/creativetim" target="_blank">
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pe-1" href="https://github.com/creativetimofficial" target="_blank">
                                <i class="fab fa-github text-lg opacity-8"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-8">
                <div>
                    <h6 class="text-sm">Contact</h6>
                    <ul class="list-unstyled">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/presentation" target="_blank">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/templates/free" target="_blank">
                                Freebies
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/templates/premium" target="_blank">
                                Premium Tools
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/blog" target="_blank">
                                Blog
                            </a>
                        </li>
                    </ul>
                </div>
            </div> -->
            <!-- <div class="col-md-2">
                <div class="text-center">
                    <a href="#">
                        <img src="../../../assets/img/logo-pld-primary.png" class="w-25" alt="main_logo">
                    </a>
                    <h6 class="font-weight-bolder mb-4">PLD</h6>
                </div>
            </div>
            <div class="col-md-6">
                <div class="">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                <i class="bi bi-phone"></i>+00000000000
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-envelope"></i>Email</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="bi bi-facebook"></i>facebook</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <p class="text-dark my-4 text-sm font-weight-normal">
                        All rights reserved. Copyright ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>Made with <i class="bi bi-heart-fill"></i> by<a
                            href="https://github.com/AbdourahamaneIssakaSani" target="_blank">PLD</a>.
                    </p>
                </div>
            </div> -->
        </div>
    </div>
</footer>