.bg-pld-transparent {
  background-color: transparent;
  .pld-full-name {
    color: #2c7bcb;
  }
  .nav-link,
  .navbar-toggler {
    color: #2c7bcb;
  }
  .logo-pld {
    content: url(/../assets/img/logo-pld-primary.png);
    max-width: 40px;
    border-radius: 50%;
    margin: 0;
  }
}

.bg-pld-primary {
  background-color: #2c7bcb;
  .pld-full-name {
    color: white;
  }
  .nav-link,
  .navbar-toggler {
    color: white;
  }
  .logo-pld {
    content: url(/../assets/img/logo-pld-secondary.png);
    max-width: 40px;
    border-radius: 50%;
    margin: 0;
  }
}

.navbar {
  .navbar-brand {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    img {
      width: 2.5rem;
    }
    .pld-full-name {
      font-size: 1rem;
    }
  }
  .nav-link {
    font-size: 1rem;
  }
  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 419px) {
  .navbar {
    .navbar-brand {
      margin-right: 0;
      img {
        width: 2.2rem;
      }
      .pld-full-name {
        font-size: 3.5vw;
      }
    }
    .nav-link {
      font-size: 0.8rem;
    }
    .container-fluid.pld-logo-brand {
      padding-right: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
  .bg-pld-primary,
  .bg-pld-transparent {
    .logo-pld {
      width: 36px;
    }
  }
}
@media screen and (max-width: 320px) {
  .navbar {
    .nav-link {
      font-size: 0.7rem;
    }
    .mat-icon-button {
      width: 21px;
    }
  }
  .bg-pld-primary,
  .bg-pld-transparent {
    .logo-pld {
      width: 32px;
    }
  }
}
