<app-header></app-header>
<main>
    <section class="pld-valeurs">
        <div class="container">
            <div class="row">
                <h1 class="text-center">NOS VALEURS</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-11 col-md-3 m-3 shadow rounded">
                    <div class="p-3 text-center">
                        <div class="pld-valeurs-img">
                            <img src="../../../assets/svg/undraw_awards_fieb.svg" class="w-50" alt="">
                        </div>
                        <h5 class="mt-3">Excellence</h5>
                        <p class="text-sm font-weight-normal">From buttons, to inputs, navbars, alerts or cards, you are
                            covered
                        </p>
                    </div>
                </div>
                <div class="col-11 col-md-3 m-3 shadow rounded">
                    <div class="p-3 text-center">
                        <div class="pld-valeurs-img">
                            <img src="../../../assets/svg/undraw_team_collaboration_re_ow29.svg" class="w-50" alt="">
                        </div>
                        <h5 class="mt-3">Leadership</h5>
                        <p class="text-sm font-weight-normal">Mix the sections, change the colors and unleash your
                            creativity
                        </p>
                    </div>
                </div>
                <div class="col-11 col-md-3 m-3 shadow rounded">
                    <div class="p-3 text-center">
                        <div class="pld-valeurs-img">
                            <img src="../../../assets/svg/undraw_new_ideas_jdea.svg" class="w-50" alt="">
                        </div>
                        <h5 class="mt-3">Innovation</h5>
                        <p class="text-sm font-weight-normal">Save 3-4 weeks of work when you use our pre-made pages for
                            your
                            website
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5 py-5">
        <div class="container">
            <div class="row">
                <h1 class="text-center">NOS MISSIONS</h1>
            </div>
            <div class="row align-items-center">
                <!-- <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
              <div class="rotating-card-container">
                <div class="card shadow-lg mt-md-0 mt-3">
                  <div class="front front-background">
                    <img src="../../../assets/img/pld-missions.jpg" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div> -->
                <div class="col-11 col-md-3">
                    <div class="p-3">
                        <div class="pld-valeurs-img">
                            <img src="../../../assets/img/pld-impact.jpg" class="img-fluid" alt="">
                        </div>
                        <h5 class="font-weight-bolder text-center mt-3">Impacter</h5>
                        <p class="text-justify">
                            Des projets innovants qui peuvent impacter la communauté
                        </p>
                    </div>
                </div>
                <div class="col-11 col-md-3">
                    <div class="p-3">
                        <div class="pld-valeurs-img">
                            <img src="../../../assets/img/pld-res.jpg" class="img-fluid" alt="">
                        </div>
                        <h5 class="font-weight-bolder mt-3">Résoudre</h5>
                        <p class="text-justify">
                            La résolution des problèmes mineurs qui gangrènent notre communauté
                        </p>
                    </div>
                </div>
                <div class="col-11 col-md-3">
                    <div class="p-3">
                        <div class="pld-valeurs-img">
                            <img src="../../../assets/img/pld-prop.jpg" class="img-fluid" alt="">
                        </div>
                        <h5 class="font-weight-bolder text-center mt-3">Proposer</h5>
                        <p class="text-justify">
                            Proposer des solutions aux problèmes majeurs qui dépassent notre pouvoir.
                        </p>
                    </div>
                </div>
                <div class="col-11 col-md-3">
                    <div class="p-3">
                        <div class="pld-valeurs-img">
                            <img src="../../../assets/img/pld-acc.jpg" class="img-fluid" alt="">
                        </div>
                        <h5 class="font-weight-bolder text-center mt-3">Accompagner</h5>
                        <p class="text-justify">Accompagnement des jeunes prometteurs partout où besoin sera</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>