section {
  margin-top: 10%;
}
.pld-image-text {
  position: relative;
  overflow: hidden;
  img {
    width: 392px;
    height: 392px;
    object-fit: fill;
  }
  .image-text {
    transform: translateY(-170%);
    width: max-content;
    float: right;
    padding: 6px;
    color: white;
    font-family: initial;
    background-color: #2c7ccbbd;
    h5 {
      font-weight: bold;
    }
    span {
      font-size: smaller;
    }
  }
}
