<section class="">
    <div class="container">
        <div class="row">
            <div class="member d-flex justify-content-center col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
                <div class="member-card">
                    <div class="member-image">
                        <img class="img-fluid" src="../../../assets/img/founder.jpg" alt="Norway">
                    </div>
                    <div class="member-info">
                        <div class="image-text text-end">
                            <h5>Soukaradji Barmou Issouf</h5>
                            <span>Foundateur & Président</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 p-3">
                <h3 class="d-sm-flex justify-content-sm-center" style="color: #2c7bcb; font-weight: bolder;"
                    color="pld-pwa-primary">Historique</h3>
                <p class="text-justify lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque alias corrupti minima. Explicabo
                    accusamus quaerat nemo, recusandae tempore odio laudantium nisi ipsa. Rem nihil blanditiis, sapiente
                    fugit sint consectetur laudantium. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab
                    necessitatibus repellendus neque expedita sunt commodi deserunt recusandae officia, exercitationem
                    fuga, eaque id molestiae magnam, cum et ad quod facilis suscipit? Lorem ipsum dolor sit amet
                    consectetur adipisicing elit.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="member d-flex justify-content-center col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
                <div class="member-card">
                    <div class="member-image">
                        <img class="img-fluid" src="../../../assets/img/sg-pld.jpg" alt="Norway">
                    </div>

                    <div class="member-info">
                        <div class="image-text text-end">
                            <h5>Maiga Hamidou Abdoulaye </h5>
                            <span>
                                Secrétaire Général | Université Aube Nouvelle - Ouaga
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="member d-flex justify-content-center col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
                <div class="member-card">
                    <div class="member-image">
                        <img class="img-fluid" src="../../../assets/img/ib.jpg" alt="Norway">
                    </div>
                    <div class="member-info">
                        <div class="image-text text-end">
                            <h5>Yacouba Maidaoua Ibrahim </h5>
                            <span>Université Islamique - Niger </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="member d-flex justify-content-center col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
                <div class="member-card">
                    <div class="member-image">
                        <img class="img-fluid" src="../../../assets/img/man.jpg" alt="Norway">
                    </div>
                    <div class="member-info">
                        <div class="image-text text-end">
                            <h5>Inoussa Naimaiwa Maicolonché </h5>
                            <span>École Supérieure de Télécommunication - Niger</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>