section {
  margin-top: 10%;
}
.member {
  position: relative;
  .member-card {
    .member-image {
      img {
        width: 350px;
        height: 300px;
        object-fit: fill;
      }
    }
    .member-info {
      top: 0%;
      width: 350px;
      height: 300px;
      color: white;
      position: absolute;
      font-family: initial;
      .image-text {
        background-color: #2c7ccb60;
        position: relative;
        top: 70%;
        max-width: fit-content;
        h5 {
          font-weight: bold;
        }
        span {
          font-size: smaller;
        }
      }
    }
  }
}
