@import "../../../assets/scss/_variables.scss";
.activity-full-title {
  color: $pld-primary;
  font-weight: bolder;
}
.activity-text {
  font-size: 1.2rem;
  text-align: justify;
}
.author {
  font-weight: bolder;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $pld-primary;
}
.image-credit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60%;
  color: $pld-primary;
  opacity: 0.5;
}
.activity {
  .activity-card {
    position: relative;
    .activity-image {
      img {
        object-fit: fill;
        border-radius: 10%;
        width: 20rem;
        height: 15rem;
        opacity: 1;
      }
    }
    .activity-description {
      top: 0%;
      width: 20rem;
      height: 15rem;
      color: white;
      position: absolute;
      font-family: initial;
      border-radius: 10%;
      background-color: #2c7ccb60;
      a {
        position: relative;
        top: 70%;
        text-decoration: none;
        color: white;
      }
      .activity-date {
        font-size: smaller;
      }
      .activity-title {
        color: $pld-secondary;
        font-weight: 600;
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .activity {
    .activity-card {
      .activity-image {
        img {
          width: 16.5rem;
          height: 12.5rem;
        }
      }
      .activity-description {
        width: 16.5rem;
        height: 12.5rem;
      }
    }
  }
}
@media screen and (min-width: 390px) and (max-width: 992px) {
  .activity {
    .activity-card {
      .activity-image {
        img {
          width: 23rem;
          height: 17.5rem;
        }
      }
      .activity-description {
        width: 23rem;
        height: 17.5rem;
      }
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .activity {
    .activity-card {
      .activity-image {
        img {
          width: 19rem;
          height: 14rem;
        }
      }
      .activity-description {
        width: 19rem;
        height: 14rem;
      }
    }
  }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .activity {
    .activity-card {
      .activity-image {
        img {
          width: 17rem;
          height: 12rem;
        }
      }
      .activity-description {
        width: 17rem;
        height: 12rem;
      }
    }
  }
}
