<section style="margin-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="activity mt-2 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="activity-card d-flex justify-content-center">
                    <div class="activity-image">
                        <img class="" src="../../../assets/img/fno.jpg" alt="Norway">
                    </div>
                    <div class="activity-description p-3">
                        <a href="http://">
                            <div class="activity-date">22-12-2020</div>
                            <div class="activity-title text-truncate">Forum National D'orientation Des Bacheliers</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="activity mt-2 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="activity-card d-flex justify-content-center">
                    <div class="activity-image">
                        <img class="" src="../../../assets/img/waqf.jpg" alt="Norway">
                    </div>
                    <div class="activity-description p-3">
                        <a href="http://">
                            <div class="activity-date">22-12-2020</div>
                            <div class="activity-title text-truncate">Remise de don en compagnie de la Ministre
                                Directrice Générale de la haute autorité du WAQF</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="activity mt-2 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="activity-card d-flex justify-content-center">
                    <div class="activity-image">
                        <img class="" src="../../../assets/img/svn.jpg" alt="Norway">
                    </div>
                    <div class="activity-description p-3">
                        <a href="http://">
                            <div class="activity-date">22-12-2020</div>
                            <div class="activity-title text-truncate">Salubrité organisée par la mairie de la ville de
                                Niamey </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="activity mt-2 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="activity-card d-flex justify-content-center">
                    <div class="activity-image">
                        <img class="" src="../../../assets/img/svn.jpg" alt="Norway">
                    </div>
                    <div class="activity-description p-3">
                        <a href="http://">
                            <div class="activity-date">22-12-2020</div>
                            <div class="activity-title text-truncate">Salubrité organisée par la mairie de la ville de
                                Niamey </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-top: 10%;">
    <div class="container">
        <div class="row ps-4 pe-4">
            <h3 class="col-12 activity-full-title">
                Forum National D'orientation Des Bacheliers
            </h3>
            <div class="col-lg-4 pb-4">
                <img class="img-fluid" src="../../../assets/img/fno.jpg" alt="Norway">
                <div class="image-credit text-justify">
                    <small>Les membres du PLD lors de l’évènement Les membres du PLD lors de l’évènement
                        <br>
                        ©
                        Crédit
                        image : PLD</small>
                </div>
                <div class="text-small">02 janvier 2020</div>
            </div>
            <div class="col-lg-6 pb-4">
                <p class="activity-text lead">
                    Le forum National d'Orientation des bacheliers est un cadre qui avait réunis plus de trois cents
                    nouveaux bacheliers et qui leurs a permit de connaître toutes les opportunités qui s'offrent à
                    eux.
                    Des conférences, séminaires et ateliers on eut lieu sur la période du 12 au 13 Septembre 2020 au
                    cours desquels les bacheliers ont su en fonctions de leurs parcours du secondaire, le type de
                    formation qu'il leur faut.


                    Le Programme Leadership & Développement fut un fidèle partenaire et a contribué fermement à sa
                    réussite.
                </p>
                <div class="text-end author">Soukaradji Barmou</div>
            </div>
        </div>
    </div>
</section>