<section style="margin-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="pld-image-text col-lg-4 p-lg-4">
                <div class="row text-over-image">
                    <div class="col-6 image">
                        <img class="img-fluid" src="../../../assets/img/fno.jpg" alt="Norway">
                    </div>
                    <div class="col-6 image-text">
                        <a href="http://">
                            <div>22-12-2020</div>
                            Forum National D'orientation Des Bacheliers
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="margin-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="pld-image-text col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
                <img class="img-fluid" src="../../../assets/img/fno.jpg" alt="Norway">
                <!-- <div class="image-text text-end">
                    <h5>Soukaradji Barmou Issouf</h5>
                    <span>Foundateur & Président</span>
                </div> -->
            </div>
            <div class="col-lg-6 m-4">
                <h3 style="color: #2c7bcb; font-weight: bolder;" color="pld-pwa-primary">
                    Forum National D'orientation Des Bacheliers
                </h3>

                <p style="font-size: 1.2rem;">
                    Le forum National d'Orientation des bacheliers est un cadre qui avait réunis plus de trois cents
                    nouveaux bacheliers et qui leurs a permit de connaître toutes les opportunités qui s'offrent à eux.
                    Des conférences, séminaires et ateliers on eut lieu sur la période du 12 au 13 Septembre 2020 au
                    cours desquels les bacheliers ont su en fonctions de leurs parcours du secondaire, le type de
                    formation qu'il leur faut.


                    Le Programme Leadership & Développement fut un fidèle partenaire et a contribué fermement à sa
                    réussite
                </p>
            </div>
        </div>
    </div>
</section>