@import "../../../assets/scss/_variables.scss";
fieldset {
  border: 2px solid $pld-primary;
  border-radius: 15px;
  padding: 2%;
  margin: 2%;
  legend {
    width: auto;
    color: $pld-primary;
    float: none;
  }
}
